
  .wrapper{
    border-radius: 5px;
    background-color: white;
    padding: 100px;
  }
  
  h2 {
    color: rgb(219, 55, 26);
  }

  .button{
    margin: 5px auto;
    width: 90%;
    height: 30px;
    background-color: rgb(50, 224, 73);
    color: black;
    border-radius: 4px;
    border: none;
  }

  button:hover {
    background-color: rgb(115, 182, 126);
    opacity:1;
    color: aliceblue;
  }


  .btnSave{
    margin: 5px auto;
    width: 40%;
    height: 30px;
    background-color: rgb(196, 139, 101);
    color: aliceblue;
    border-radius: 4px;
    border: none;
  }

  .btnSave:hover {
    background-color: rgb(226, 201, 177);
    opacity:1;
    color: black;
  }


  .btnScore{
    margin: 5px auto;
    width: 40%;
    height: 30px;
    border-radius: 4px;
    border: none;
    right: 10;
  }

    @media screen and (max-width: 500px) {
    .clearfix, .container {
       width: 30%;
    }
  }
